section{
    height: 95vh;
    width: 100vw;
}
.homePage {
    position: relative;
    top: 0;
    left: 0;
    z-index: 1;
}

.headerSection{
    width: 100vw;
    background-size: cover;
    background-position: center;
    clip-path: polygon(0 0,100% 0, 100% 100%, 0 80vh);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: lightgray;

    &__name{
        margin: 0 5rem;
        font-size: 2rem;
        background-image: linear-gradient(to right bottom, lightgray, gray);
        -webkit-background-clip: text;
    }

    &__description{
        margin: 0 5rem;
        font-size: 1.5rem;
        font-weight: 100;
    }
}

.aboutSection {
    clip-path: polygon(0 0,100% 15vh, 100% 100%, 0 80vh);
    color:white;
    font-size: 1.6rem;
    padding: 5rem 2rem;
    display: grid;
    grid-template-columns:  repeat(auto-fit,minmax(20rem,min-content));
    justify-content: center;
    grid-gap: 1rem;
    text-align: center;
    width: 100vw;

    @media screen and (max-width: 717px){
        height: 150vh;
        clip-path: polygon(0 0,100% 15vh, 100% 100%, 0 135vh);
        padding: 10rem 2rem;
    }

    @media screen and (max-width: 435px){
        grid-template-columns:  repeat(auto-fit,minmax(80vw,min-content));
        padding: 10rem 2rem;
        width: 100%;
    }

    &__description{
        align-self: center;
        text-align: center;
        hyphens: auto;
        width: 100%;
    }

    
    &__skills{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-self: center;

        &-list{
            display: flex;
            justify-content: center;
        }
    }

    & ul{
        text-align: left;
        margin-left: 2rem;
        @media screen and (max-width: 435px){
            &:not(:last-child){
                 margin-left: 0px;
            }
            
           

        }
        
    }

    & li{
        list-style: none;
        margin-left: 2rem;
        @media screen and (max-width: 435px){
            margin-left: 0;
            
        }

        &.python{
            list-style: square;
        }
    }
}

.proyectsSection{
    width: 100vw;
    clip-path: polygon(0 0,100% 15vh, 100% 100%, 0 100% );
    padding-top: 8rem;
    color: white;
    height: fit-content;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
   

    
    &__description{
        font-size: 1.6rem;
    }

    &__categoryContainer{
        font-size: 1rem;
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
        max-width: 100%;
        position: relative;
        margin: 0 2vw;
        
        ul{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            text-decoration: none;
            list-style: none;
            justify-content: center;
        }
        &-item{
            margin-left: 1rem;
            cursor: pointer;
            transition: transform 2s;
            min-width: 3rem;


            &.active{
                border-bottom: 3px solid white;
                
            }
           
            
        }
    }

    &__projects{
        display: grid;   
        grid-template-columns: repeat(auto-fit,minmax(25rem,min-content));
        grid-gap: 1rem;
        justify-content: center;
        margin: 0 1vw;
        
        @media screen and (max-width: 435px){
            width: 100%;
            margin: 0;
            grid-template-columns: 1fr;
        }
        

        
        &.loading{
            margin: 0 15rem;
        }
    }

   
}