.navbar{
    font-size: 1.2rem;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 65px;
    width: 100vw;
    padding: 0 10vw;
    z-index: 100;
    color: white;
    transition: background .4s ease-out;
    

    @media screen and (max-width: 767px){
        position: fixed;
        display: flex;
        flex-direction: column;

        &__container{
            font-size: 1.2rem;
            position: fixed;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 65px;
            width: 100vw;
            padding: 0 10vw;
            z-index: 100;
            color: white;
            transition: background .4s ease-out;

            &.checked{
                background: var(--color-bg);
                transition: background .4s ease-out;
            }
        }

    }
    

    a {
        text-decoration: none;
        color: inherit;
        text-transform: uppercase;
    }

    &__content{
        display: flex;
        list-style: none;

        @media screen and (max-width: 767px) {
            position: relative;
            top: 65px;
            left: 0;
            visibility: hidden;
            opacity: 0;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            padding: 15rem 0;
            width: 100vw;
            height: 100vh;
            font-size: 2rem;
            color: white;
            background: var(--color-bg);
            transition: 
                opacity .8s .5s,
                clip-path  .4s .5s;
            clip-path: circle(200px at top right);

            &.checked {
                visibility: visible;
                opacity: 1;
                clip-path: circle(100% at center);
            }
        }


        &__link{
            

            &-item{
                width: 100%;
                margin: .6rem;
                padding: 1rem ,5rem;

                &:hover {
                    background: rgba(255,255,255,0.2);
                }
            }
        }
    }
    .menu{
        display: flex;
        flex-direction: row;
        height:50% ;
        width: 2rem;
        border-radius: 3rem;
        cursor: pointer;

        &:hover{
            background: var(--color-light);

        }
       
    }

    .menuIcon{
        position:relative;
        padding: 26px,10px;
        cursor: pointer;
        z-index: 10;
        display: none;
        // height: 100%;

        @media screen and (max-width: 767px) {
            display: flex;
            flex-direction: row;
            align-items: center;
            padding-left: 0.3rem;
            // top: 10vh;
            // left: 40vw;
        }
       

        &__line{
            display: block;
            position: relative;
            background: white;
            height: 2px;
            width: 20px;
            border-radius: 4px;

            &::before,&::after {
                content: "";
                position: absolute;
                height: 100%;
                width: 100%;
                border-radius: 4px;
                background: white;
                left: 0;
                transition: background .8s ease;
            }

            &::before{
                transform: translateY(-5px);

            }
            &::after{
                transform: translateY(5px);
                
            }
        }
    }

    &.scrolled{
        background: var(--color-bg) ;
        box-shadow: 0px 0px 8px rgba(0,0,0,.6);

        .menuIcon{
            &__line, &__line::after, &__line::before{
                background: white;
            }
        }
    }
}